# dependencies
node_modules

# testing
coverage

# build
dist

# mac
.DS_Store

# turbo
.turbo

# typescript
*.tsbuildinfo

# cspell
.cspellcache

# env
.env

# storybook
apps/frontend/.storybook/static
apps/frontend/public/storybook

# schema
schema.graphql

# eslint
.eslintcache

# cypress
cypress/videos
cypress/screenshots
