# dependencies
node_modules

# testing
coverage

# build
dist
storybook

# mac
.DS_Store

# turbo
.turbo

# typescript
*.tsbuildinfo

# env
.env

# storybook
apps/frontend/.storybook/static

# schema
schema.graphql

# eslint
.eslintcache

# cypress
apps/frontend/cypress/videos
