---
import { readdirSync } from "fs";
import Layout from "../components/Layout.astro";

let lighthouseResults: string[] = [];

try {
  lighthouseResults = readdirSync("public/lighthouse");
} catch (error) {
  console.log(error);
}
---

<Layout>
  <h2>Bundle Analysis Report</h2>
  <a href="./client">Check the report</a>
  <h2>VRT Report</h2>
  <a href="./report">Check the report</a>
  <h2>Cypress Report</h2>
  <a href="./cypress">Check the report</a>
  <h2>Lighthouse Report</h2>
  <ul>
    {
      lighthouseResults.map((result) => (
        <li>
          <a href={`./lighthouse/${result}`}>{result}</a>
        </li>
      ))
    }
  </ul>
</Layout>
