---
import { readdirSync } from "fs";
import Layout from "../components/Layout.astro";
import BundleAnalysisStats from "../components/BundleAnalysisStats.jsx";

let lighthouseResults: string[] = [];
const updatedDate = process.env["DATE"] ?? "1970-01-01 00:00";

try {
  lighthouseResults = readdirSync("public/lighthouse");
} catch (error) {
  console.log(error);
}
---

<Layout>
  <h1 class="text-center">
    Instagram Clone Analytics <p class="text-sm text-neutral-500">Last Updated on {updatedDate}</p>
  </h1>
  <h2>Next.js Bundle Analysis</h2>
  <div class="flex items-center max-w-5xl">
    <div
      style={{
        position: "relative",
        width: "2%"
      }}
    >
      <div class="text-xs sm:text-lg absolute w-max -bottom-20 sm:-bottom-28 -rotate-90 origin-[0_0]">
        Compressed Bundle Size (KB)
      </div>
    </div>
    <div
      style={{
        width: "98%"
      }}
    >
      <BundleAnalysisStats client:only="react" />
      <div class="text-center relative right-10 sm:right-16 text-xs sm:text-lg">Date</div>
    </div>
  </div>
  <a href="./client">See more</a>
  <h2>VRT Report</h2>
  <a href="./report">Check the report</a>
  <h2>Cypress Report</h2>
  <a href="./cypress/report/mochawesome">Check the report</a>
  <h2>Lighthouse Reports</h2>
  <ul>
    {
      lighthouseResults.map((result) => (
        <li>
          <a href={`./lighthouse/${result}`}>{result}</a>
        </li>
      ))
    }
  </ul>
</Layout>
